# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster:
  enabled: true

  version:
    postgresql: "17"

  type: postgresql

  publication:
    enabled: false

  cluster:
    instances: 2
    # https://cloudnative-pg.io/documentation/preview/replication/#logical-decoding-slot-synchronization
    imageName: "ghcr.io/cloudnative-pg/postgresql:17-system-trixie"
    replicationSlots:
      highAvailability:
        enabled: true
        synchronizeLogicalDecoding: true
        slotPrefix: "_"
    storage:
      size: 75Gi
    walStorage:
      enabled: true
      size: 10Gi
    monitoring:
      enabled: true
    initdb:
      database: # to_set
      owner: # to_set
      secret:
        name: pg-app-credentials

    postgresql:
      parameters:
        pg_stat_statements.max: "10000"
        pg_stat_statements.track: all
        max_wal_senders: "10"
        max_wal_size: 2GB
        max_replication_slots: "10"
        max_slot_wal_keep_size: 5GB
        hot_standby_feedback: "on"
        sync_replication_slots: "on"

    serviceAccountTemplate:
      metadata:
        annotations:
          iam.gke.io/gcp-service-account: # from_cd

    roles:
      - name: warehouse_replication
        ensure: present
        comment: user for replication
        login: true
        replication: true
        passwordSecret:
          name: pg-replication-credentials

      - name: open_metadata
        ensure: present
        comment: user for open metadata
        login: true
        superuser: false
        createdb: false
        createrole: false
        inherit: false
        replication: false
        bypassrls: false
        connectionLimit: 50
        passwordSecret:
          name: pg-omd-credentials

  backups:
    enabled: true
    secret:
      create: false
    provider: google
    google:
      path: # to_set
      bucket: # from_cd
      gkeEnvironment: true

    scheduledBackups:
      - name: daily-backup
        schedule: "0 0 0 * * *" # Daily at midnight

postgresRolesSecrets:
  enabled: true
  data:
    pg-app-credentials:
      username: # to_set
      password: # from_cd
    pg-replication-credentials:
      username: warehouse_replication
      password: # from_cd
    pg-omd-credentials:
      username: open_metadata
      password: # from_cd
    # Note: Please note this secret is not setup by default. You should use it if recovery from existing db is needed
    # current-prod-pg-password:
    #   username: # to_set
    #   password: #from_cd

replicaCount: 1

serviceAccount:
  create: false

image:
  repository: # from_cd
  pullPolicy: IfNotPresent
  tag: # from_cd

imagePullSecrets: []

containerPort: 8000

ports:
  - containerPort: 8000
    name: http
    protocol: TCP

# By default use an internal load balancer
# If you wnat to use use another type of service, override in parent
service:
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  type: LoadBalancer
  loadBalancerIP: # from_cd
  annotations:
    networking.gke.io/load-balancer-type: Internal

ingress:
  enabled: false

migrations:
  enabled: false
  hookWeight: "1"
  restartPolicy: OnFailure
  hookTimeout: "300"
  backoffLimit: 3
  ttlSecondsAfterFinished: 100
  waitForDatabase:
    image: "ghcr.io/cloudnative-pg/postgresql:17-system-trixie"
    resources:
      limits:
        cpu: 100m
        memory: 64Mi
      requests:
        cpu: 50m
        memory: 32Mi
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []

deployment:
  command:
    - "/bin/sh"
    - "-c"
  args:
    - "alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000"

secrets:
  enabled: false

configMap:
  enabled: false

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
  # {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 400m
    memory: 1Gi
  requests:
    cpu: 400m
    memory: 1Gi

livenessProbe:
  httpGet:
    path: /docs
    port: http
  timeoutSeconds: 20
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 5

readinessProbe:
  httpGet:
    path: /docs
    port: http
  timeoutSeconds: 20
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 5

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 90
  targetMemoryUtilizationPercentage: 90

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  enabled: false
  image:
    repository: bitnamilegacy/redis
    tag: 8.2.1
  fullnameOverride: redis
  auth:
    enabled: false
  architecture: standalone

celeryWorker:
  enabled: false
  workers:
    basePath: # to_set
  cluster:
    enabled: true
    cluster:
      serviceAccountTemplate:
        metadata:
          annotations:
            iam.gke.io/gcp-service-account: # from_cd
    backups:
      google:
        path: # to_set
        bucket: # from_cd
  postgresRolesSecrets:
    data:
      pg-celery-credentials:
        password: # from_cd
  image:
    repository: # from_cd
    tag: # from_cd
  secrets:
    enabled: true
    data:
      celery-credentials:
        CELERY_BROKER_PASSWORD: # from_cd
        CELERY_BACKEND_PASSWORD: # from_cd
  configMap:
    enabled: true
    data:
      # CONSTRAINT: Please note this value must equal {{Release.name}}-rabbitmq
      CELERY_BROKER_HOST: # to_set
  rabbitmq:
    enabled: true
    auth:
      password: # from_cd
  celeryFlower:
    enabled: true
    rabbitmq:
      # CONSTRAINT: Please note this value must equal {{Release.name}}-rabbitmq
      host: # to_set
    service:
      loadBalancerIP: # from_cd
    secrets:
      CELERY_BROKER_PASSWORD: # from_cd
