# Default values for clusterissuer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

groupName: &groupName "test.nwstorm.io"
dnsSolverApplicationKey: &dnsSolverApplicationKey ""
dnsSolverApplicationSecret: &dnsSolverApplicationSecret ""
dnsSolverConsumerKey: &dnsSolverConsumerKey ""
httpSolverEnabled: &httpSolverEnabled true
dnsSolverEnabled: &dnsSolverEnabled false

certIssuer:
  nameOverride: ""
  fullnameOverride: ""
  email: "" # This is a required field if create == true
  name: lets-encrypt-http-issuer-production
  secretName: letsencrypt-credentials
  server: https://acme-v02.api.letsencrypt.org/directory
  httpResolver:
    enabled: *httpSolverEnabled
    ingressClass: traefik
  dnsResolver:
    enabled: *dnsSolverEnabled
    resolver: cert-manager-webhook-ovh
  resolvers: []
  extraSecrets:
    ovh-credentials:
      applicationSecret: *dnsSolverApplicationSecret

cert-manager-webhook-ovh:
  nameOverride: "cert-manager-webhook-ovh"
  fullnameOverride: "cert-manager-webhook-ovh"
  enabled: *dnsSolverEnabled
  groupName: *groupName
  resolver:
    webhook:
      groupName: *groupName
      solverName: ovh
      config:
        endpoint: ovh-eu
        applicationKey: *dnsSolverApplicationKey
        applicationSecretRef:
          key: applicationSecret
          name: ovh-credentials
        consumerKey: *dnsSolverConsumerKey
