apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.certIssuer.name }}
spec:
  acme:
    email: {{ .Values.certIssuer.email }}
    server: {{ .Values.certIssuer.server }}
    privateKeySecretRef:
      name: {{ .Values.certIssuer.secretName }}
    solvers:
    {{- if .Values.certIssuer.httpResolver.enabled }}
    - http01:
        ingress:
          ingressClassName: {{ .Values.certIssuer.httpResolver.ingressClass }}
    {{- end }}
    {{- if .Values.certIssuer.dnsResolver.enabled }}
    - dns01:
      {{- .Values.certIssuer.dnsResolver | toYaml | nindent 8 }}
      {{- index .Values .Values.certIssuer.dnsResolver.resolver "resolver" | toYaml | nindent 8 }}
    {{- end }}
