{{- if .Values.cluster.publication.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Publication
metadata:
  name: {{ include "app.fullname" . }}-publication
spec:
  cluster:
    name: {{ include "app.fullname" . }}-cluster
  dbname: {{ .Values.cluster.cluster.initdb.database }}
  name: {{ include "app.fullname" . }}-publication
  target:
    {{- if and .Values.cluster.publication.allTables (eq .Values.cluster.publication.allTables true) }}
    allTables: true
    {{- else if .Values.cluster.publication.tables }}
    objects:
      {{- range .Values.cluster.publication.tables }}
      - table:
          name: {{ . }}
          schema: public
      {{- end }}
    {{- end }}
{{- end }}